# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/themes/*
!web/app/themes/.gitkeep

# WordPress
web/wp
web/.htaccess
# WordPress Languages
web/app/languages/*
!web/app/languages/plugins
!web/app/languages/.gitkeep

# Dotenv
.env
.env.*
!.env.example

# Composer
/bin/*
/vendor/*
!vendor/.gitkeep
build/vendor/*
.idea
logs/*

##your custome theme folder, if you use tools for building css and js
### e.g. themes/twentyfourteen-childtheme/resources/node_modules/
